<html>
    <head>
        <link rel="stylesheet" href="{{stylefile}}">
    </head>
    <body>
        <a href="https://www.instacart.com">Order Meow</a>
        {{#if hasOverview}}
        <p>{{overview}}</p>
        <br>
        {{/if}}
        <h1>What's In Your Cart</h1>
        <div>
        {{#each ingredientCategories as |category|}}
            <p><strong>{{pluralizeCategory category}}: </strong>
                {{ingredientsList category.ingredients}}
            </p>
        {{/each}}
        </div>
        <h1>Your Menu</h1>
        <div>
            {{#each recipes as |recipe|}}
            <h5 class="test">{{recipe.title}}</h5>
            <p>{{recipe.description}}</p>
            <p><strong>Time: </strong>{{recipe.total_time}} mins total, {{recipe.active_time}} mins active</p>
            {{/each}}
        </div>
        <h1>Instructions</h1>
        <div>
        {{#each recipes as |recipe|}}
            <h5>{{recipe.title}}</h5>
            <img src="{{recipe.main_image_url}}"><br>
            <!--For suggested Seasonings, do we list child seasonings? How do we handle that?-->
            {{#if recipe.seasonings}}
            <p><strong>Suggested Seasonings: </strong>{{seasoningList recipe.seasonings}}</p>
            {{/if}}
            <ol>
                {{#each recipe.steps as |step|}}
                <li>{{step.text}}</li>
                {{/each}}
            </ol>
            <br>
        {{/each}}
        </div>
    </body>
</html>