<html>
    <head>
        <link rel="stylesheet" href="{{stylefile}}">        
    </head>
    <body>
        <div class="email-width">
            {{#if hasOverview}}
                <p>{{overview}}</p>
                <br />
            {{/if}}

            <p style="text-align: center;"><a href="https://www.instacart.com"><button class="place-order-button">Place Order</button></a></p>
            
            <div class="cart-ingredients">
                <h1>What's In Your Cart</h1>            
                {{#each ingredientCategories as |category|}}
                    <p><span class="category-name">{{pluralizeCategory category}}: </span><span class="category-ingredient">{{ingredientsList category.ingredients}}</span></p>
                {{/each}}
            </div>
            
            
            <div class="recipe-description">
                <h1>Your Menu</h1>
                {{#each recipes as |recipe|}}                
                    <img class="recipe-image" src="{{recipe.main_image_url}}">            
                    <h5><a href="{{recipe.main_link_url}}">{{recipe.title}}</a></h5>
                    <p>{{recipe.description}}</p>                
                    <p class="recipe-time"><strong>{{recipe.total_time}}</strong> mins total, <strong>{{recipe.active_time}}</strong> mins active</p>
                {{/each}}                
            </div>

            
            <div class="recipe-instructions">
                <h1>Instructions</h1>
                <br />
                {{#each recipes as |recipe|}}
                    <h5>{{recipe.title}}</h5>
                    <p><strong>Ingredients: </strong>{{ingredientsList recipe.ingredients}}</p>
                    {{#if recipe.seasonings}}
                        <!--For suggested Seasonings, do we list child seasonings? How do we handle that?-->
                        <p><strong>Seasoning: </strong>{{seasoningList recipe.seasonings}}</p>
                    {{/if}}
                    <ol>
                        {{#each recipe.steps as |step|}}
                            <li>
                                {{#step_text step}}{{/step_text}}
                                {{#if step.main_link_url}}
                                    <a href="{{step.main_link_url}}">Link</a>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ol>
                    <br>
                {{/each}}
            </div>
        </div>
    </body>
</html>